@import url('https://fonts.googleapis.com/css?family=Exo+2|Montserrat');

html{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    font-family: 'Exo+2|Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    height: 80px;
    width: 100%;
    background-color: #090909;
    color: #FFFFFF;
    text-align: center;
    font-size: 21.5px;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
   
}

body{
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
}

nav{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

ul{
    list-style-type: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: inline-block;
}

li{
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: #FFFFFF;
}

.title-1{
    text-align: center;   
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #090909;
    border-bottom-style: ridge;
    margin-block-end: 0em;
}

.title-2{
    text-align: center;
    width: 100%;
    padding: 0px;
    font-size: 25px;
    color: #090909;
}

main{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: block;
}

.start-1, .about-me-2, .skill-3, .portfolio-4, .contact-5{
    padding-top: 65px;
    padding-left: 120px;
    padding-right: 120px;
    display: block;
    position: relative;
    min-height: 90%;
}


.skill-3, .contact-5{
    background-color: #F5F5F5; 
}

.portfolio-4{
    text-align: center;
}


/* PRINCIPAL */

.presentation-card{
    height: auto;
    width: 60%;
    padding: 40px 10px;
    position: relative;
    text-align: left;
}

.image-profile{
    width: 40%;
    position: relative;
}

.greeting{
    padding-top: 20px;
    font-size: 80px;
    color: #796EC5;
    line-height: 90px;
    font-family: 'Fredoka One', cursive;
}

.slogan{    
    font-size: 25px;
    line-height: 2px;    
}

/* SOBRE MI */

.content-information{
    position: relative;
    width: 100%;
}

.personal-information{
    padding: 30px 120px;
    height: auto;
    line-height: 40px;
    text-align: justify;
    font-size: 20px;
}

/* HABILIDADES */

.content-skills{
    display: flex;
    width: 100%;
    height: 100%;
}

.skill-tech, .skill-soft{    
    padding: 0px;
    width: 50%;
    display: block;
    height: auto;
}

.img-skill{
    height: 65px;
    width: 65px;
    padding: 0px 15px;
}

.content-icon-tech{
    text-align: center;
    display: block;
    height: auto;
}

.content-icon-social{
    text-align: center;
    display: block;
    height: auto;
}

.icon-description-tech, .icon-description-soft{
    display: inline-block;
    padding: 12px;
    height: 115px;
    width: 115px;
    font-size: 14px;
}

/* PORTAFOLIO */

.content-projects{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
}

.content-projects .title-2{
    padding-top: 10px;
}

.project-one, .project-two, .project-three{
    position: relative;
    width: 33.33%;
    text-align: center;
}

.content-projects .project-one{
    padding-right: 40px;
}

.content-projects .project-two{
    padding: 0px 20px;
}

.content-projects .project-three{
    padding-left: 40px;
}

.project-image img{
    padding-top: 15px;
    position: relative;
    object-fit: cover;
}

.project-description{
    position: relative;
    background-color: #ffffff;
    font-size: 16px;
    text-align: justify;
    width: 100%;
    max-height: 190px;
}

.link-github{
    position: relative;
    color: #ffffff;
    display: flex;
    width: 100%;
}

.link-github img{
    height: 23px;
    width: 23px;
    padding: 0px 10px;
    vertical-align: bottom;
}

.link-code-github, .link-demo-github{
    height: 40px;  
    color: #ffffff;
    width: 100%;
}

.img-project{
    height: 100%;
    width: 100%;
}

button{
    min-height: 40px;
    width: 99.5%;
    font-size: 16px;
    border-style: none;
    background-color: #58da02;
    color: #FFFFFF;
    cursor: pointer;
}



/* CONTACTO */

.content-contact{
    width: 100%;
    height: auto;
    position: relative; 
}

.p-contact{
    display: block;
    position: relative;
    padding: 20px 200px;
    text-align: center;
}

.content-contact img{
    height: 40px;
    width: 40px;
    padding: 0px 20px;
    vertical-align: bottom;
}

.icon-description-contact{
    display: inline-block;
    padding: 12px;
    height: 120px;
    width: 200px;
    font-size: 18px;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    header{
        display: none;
    }
    
    .start-1, .about-me-2, .skill-3, .portfolio-4, .contact-5{
        min-height: auto;
        padding-left: 60px;
        padding-right: 60px;
    }

    .presentation-card{
        width: 100%;
        padding: 0px;
    }

    .content-projects{
        display: block;
    }

    .project-one, .project-two, .project-three{
        width: 100%;
        padding: 0px;
    }

    .content-projects .project-one{
        padding-right: 0px;
    }
    
    .content-projects .project-two{
        padding: 0px 0px;
    }
    
    .content-projects .project-three{
        padding-left: 0px;
    }
    
    .content-contact .title-2{
        font-size: 16px;
    }

    .p-contact{
        padding: 0px;
        padding-left: 10px;
        font-size: 12px;
    }

    .content-contact img{
        height: 20px;
        width: 20px;
        padding: 0px 10px;
        align-items: center;
    }

    .icon-description-contact{
        display: inline-block;
        padding: 5px;
        height: 80px;
        width: 120px;
        font-size: 10px;
        text-align: center;
    }

}


@media only screen and (max-width: 360px) {
   
    .start-1, .about-me-2, .skill-3, .portfolio-4, .contact-5{
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .start-1{
        height: 100%;
    }

    header{
        display: none;
    }
    
    .greeting{
        font-size: 45px;
    }
    
    .slogan{    
        font-size: 15px;
        line-height: 2px;
        width: 100%;
    }

    .personal-information{
        padding: 10px 50px;
        line-height: 25px;
        font-size: 12px;
    }

    .content-skills{
        display: block;
    }

    .skill-tech, .skill-soft{    
        padding: 0px;
        width: 100%;
    }

    .skill-soft{
        border-left: 0;
    }

    .img-skill{
        height: 45px;
        width: 45px;
        padding: 10px;
    }

    .content-icon-tech, .content-icon-social{
        padding: 0px;
    }

    .content-icon-social{
        border-left: 0px;
    }

    .icon-description-tech{
        display: inline-block;
        padding: 5px;
        height: 100px;
        width: 100px;
    }
    
    .icon-description-soft{
        display: inline-block;
        padding: 0px;
        height: auto;    
        height: 120px;
        width: 120px;
    }

    .project-one, .project-two, .project-three{
        width: 100%;
        padding: 0px;
    }

    .content-projects .project-one{
        padding-right: 0px;
    }
    
    .content-projects .project-two{
        padding: 0px 0px;
    }
    
    .content-projects .project-three{
        padding-left: 0px;
    }

    .content-contact .title-2{
        font-size: 14px;
    }

    .p-contact{
        padding: 0px;
        padding-left: 10px;
        font-size: 12px;
    }

    .content-contact img{
        height: 20px;
        width: 20px;
        padding: 0px 10px;
        align-items: center;
    }

    .icon-description-contact{
        display: inline-block;
        padding: 5px;
        height: 80px;
        width: 120px;
        font-size: 10px;
        text-align: center;
    }
}
